extends ../layout

block content
  .container.mt-4
    .card.border-0
      .card-header.bg-danger.text-white
        h4.mb-0 Confirmar eliminación
      .card-body
        p ¿Seguro que deseas eliminar al usuario 
          strong #{userToDelete.username} 
          | con email #{userToDelete.email}?

        .d-flex.justify-content-between.mt-4
          a.btn.btn-outline-secondary.fw-bold(href="/users/list")
            i.bi.bi-arrow-left.me-2
            | Cancelar
          form(action=`/users/delete/${userToDelete.id_usuario}` method="POST")
            button.btn.btn-danger.fw-bold(type="submit")
              i.bi.bi-trash.me-2
              | Sí, eliminar usuario
